html {
  background: #000;
}

button {
  appearance: button;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
input[type="radio" i] {
  background-color: initial;
  cursor: default;
  appearance: radio;
  box-sizing: border-box;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}

td {
  text-align: center;
}
.settings-table td {
  text-align: left;
  padding: 5px;
  font-size: 14px;
}
.settings-table > tbody > tr > td:first-child {
  text-align: center;
  padding: 2px 5px;
  white-space: nowrap;
  min-width: 160px;
  width: 21%;
}
.settings-table > tbody > tr > td:nth-child(2) {
  padding: 2px 5px;
}
table {
  background: #282828;
}

.temp-tx {
  font-size: 14px;
  background-color: #78f3ff;
  border: solid 2px #afafff;
  padding: 4px;
}

.viewTsunami-container {
  margin: 4px;
  background: linear-gradient(#0014f0b3 0%, #032088af 100%);
  text-align: center;
  color: #fff;
}

table#normalTextsTable th, table#normalTextsTable td {
  height: 28px;
}
table#normalTextsTable input {
  height: 15px;
}
.nTextsTable-cmdtxt {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  height: 28px;
}

.Ntitle {
  width: calc(100% - 6px);
}
.Ntext {
  width: calc(100% - 6px);
}

#stopWarnAudio {
  color: #fff;
  display: block;
  width: 95%;
  margin: auto;
  background: linear-gradient(
    to left,
    #000000 0%,
    #e03986 40%,
    #e03986 60%,
    #000000 100%);
  font-size: 15px;
}
#startEEWfcstTest, #startEEWwarnTest, #startEEWcancelTest, #stopEEWtest {
  margin: auto;
  display: block;
  font-size: 13px;
  width: 85%;
  color: #fff;
}
#startEEWfcstTest   { background: #847c1f; }
#startEEWwarnTest   { background: #8c0505; }
#startEEWcancelTest { background: #3b11bb; }
#stopEEWtest        { background: #484848; }

#ChangeToEq {
  font-size: 15px;
}
.tmp-box {
  height: 130px;
  width: 204px;
  background: #000;
  border: solid 2px #fff;
  overflow: scroll;
}
.c-1 {
  display: inline-block;
  width: 145px;
}
.c-2 {
  display: inline-block;
  width: 300px;
}
span[n="1"] {
  background: linear-gradient(transparent 50%, #a0a0a0 100%);
}
span[n="2"] {
  background: linear-gradient(transparent 50%, #51dbf0 100%);
}
span[n="3"] {
  background: linear-gradient(transparent 50%, #8181f7 100%);
}
span[n="4"] {
  background: linear-gradient(transparent 50%, #42fc57 100%);
}
span[n="5"] {
  background: linear-gradient(transparent 50%, #facd5c 100%);
}
span[n="5.5"] {
  background: linear-gradient(transparent 50%, #f5851d 100%);
}
span[n="6"] {
  background: linear-gradient(transparent 50%, #f7382a 100%);
}
span[n="6.5"] {
  background: linear-gradient(transparent 50%, #f5317f 100%);
}
span[n="7"] {
  background: linear-gradient(transparent 50%, #e01fc3 100%);
}
span[n="0"]{
  background: linear-gradient(transparent 50%, #eafa11 100%);
}
#triangle{
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 16px;
  border-top-width: 0px;
  border-left: 16px solid black;
}
.tmp-btn {
  width: 204px;
  height: 40px;
  background: lightgreen;
  border: black 2px solid;
  cursor: pointer;
}

.wtWarnChecking {
  margin: 12px;
  border-radius: 5px;
  border: solid 3px #02a;
  background-color: #fff;
}
.wtWarnListMsg {
  background: linear-gradient(to right, #7af9 0, #fff 450px);
  padding: 3px;
  padding-left: 8px;
  margin: 7px;
  margin-left: 0;
}
.wtWarnListFeeds {
  margin: 8px;
}
.wtWarnListFeeds table {
  border-collapse: collapse;
  border-style: solid;
  font-size: 13px;
}
.wtWarnListFeeds td {
  padding-left: 3px;
  padding-right: 3px;
  min-width: 100px;
  overflow-x: scroll;
}
.wtWarnListFeeds td.title {
  background: linear-gradient(30deg, #8af, #fff);
}
.wtWarnListFeeds td.subtitle {
  background: linear-gradient(30deg, #af8, #fff);
}
.wtWarnListFeeds td.maintext {
  background: linear-gradient(30deg, #f8a, #fff);
}
.wtWarnListFeeds td div {
  white-space: nowrap;
  max-width: 30vw;
  overflow-x: scroll;
  padding: 2px;
}
.wtWarnListFeeds td::-webkit-scrollbar {
  display: none;
}
.wtWarnListFeeds td div::-webkit-scrollbar {
  display: none;
}



/* ------------------------------------------------------- */

/* サイドバー */
.side-menu {
  width: 234px;
  overflow-y: scroll;
}
.side-menu {
  background: #606060;
  height: 100vh;
  z-index: 2;
  position: relative;
}
.side-selections button {
  color: #fff;
  background: #333;
  width: calc(100% - 16px);
  height: 34px;
  box-sizing: border-box;
  padding: 1px 6px;
  border: 0;
  margin: 1px 8px;
  font-size: 14px;
  cursor: pointer;
}
.side-selections button.menu-selected {
  background: #273b90;
  cursor: default;
}

/* メインメニュー共通 */
.menu-container {
  padding-bottom: 40px;
}
.main-menu {
  color: #f2f2f2;
  background: #3a3a3a;
  height: 100vh;
  z-index: 1;
  margin-bottom: 30px;
  overflow-y: scroll;
}
.menu-name {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  color: #ccc;
  border-top: solid 1px #ddd;
  background: #494949;
  font-family: sans-serif;
  font-size: 20px;
  overflow: hidden;
  padding-left: 100%;
  box-sizing: content-box;
}
.main-mask {
  position: absolute; top: 0;
  width: 100%; height: 100%;
  background: #0008; z-index: 10;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}
@keyframes ticker-animation {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.anim-ticker {
  display: inline-block;
  white-space: nowrap;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker-animation;
  animation-duration: 12s;
  padding-right: 100%;
}
.menu-tab {
  margin: 0;
  padding: 8px;
}

/* 通常画面 */
#normalText\.textList {
  position: relative;
  padding: 4px 2px;
  border-radius: 3px;
  background-color: #666;
}
#normalText\.speedForm {
  padding: 4px 12px;
  flex: 1;
  background-color: #16416f;
  border: solid 1px #414142;
  color: #eee;
}
#normalText\.speedResult {
  color: #d2bdff;
  font-weight: bold;
}
#normalText\.speedInput {
  display: block;
  appearance: none;
  cursor: pointer;
  width: 14px;
  height: 12px;
  border: 0;
  margin: 6px 0;
  background: linear-gradient(90deg, #377494 30%, #dddddd 30%);
}
#normalText\.speedInput::-webkit-slider-thumb {
  appearance: none;
  width: 0; height: 0;
}
/* #normalText\.speedCurrentPos {
  position: absolute;
  top: 42px; left: 50%;
  background-color: #ffffffde;
  padding: 0 5px;
  border-radius: 5px;
  transform: translateX(-50%);
  display: none;
}
#normalText\.speedInput:active + #normalText\.speedCurrentPos {
  display: block;
} */
