div.title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: sans-serif;
  border-bottom: solid 1px #222;
  margin-bottom: 2px;
}
p.title-ja {
  font-size: 24px;
  margin: 8px 0;
  margin-left: 16px;
}
p.title-en {
  font-size: 15px;
  margin: 8px;
}
div.main {
  padding: 6px;
}
div.box {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
div.box button {
  margin: 0 2px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}
div.box button:hover {
  background-color: #dbebfd;
}
div.box button:active {
  background-color: #94d4ff;
}
body > div.main > div.menu {
  overflow-y: scroll;
  height: calc(100vh - 129px);
  border: #333 solid 2px;
  position: relative;
}

div.main > div.menu .quakeInfos {
  display: flex;
  flex-direction: row;
}
div.main > div.menu .box div {
  margin: 7px;
  text-align: center;
}
div.main > div.menu .box div button {
  color: black;
  padding: 1px;
  background-color: #00000000;
  font-size: 18px;
  width: 150px;
  height: 36px;
  visibility: hidden;
  transition: all 300ms 0s ease;
}
div.main > div.menu .box div button:hover {
  background: #000;
  color: white;
}
div.main > div.menu .box.activeSettings div button {
  visibility: visible;
}
div.main > div.menu .eiList {
  font-family: sans-serif;
  height: calc(100vh - 161px);
  width: 400px;
  background-color: #a1a721cc;
  border: #000 2px solid;
  overflow-x: hidden;
  overflow-y: auto;
  /*-ms-overflow-style: none;*//* iPadのSafariでなぜかこれを有効にすると正常に表示されなくなる */
  color: #b2bb8e;
}
div.main > div.menu .eiList::-webkit-scrollbar {
  display: none;
}
div.main > div.menu .eiList-button:active {
  color: #f00;
}
div.main > div.menu .eiList .eiList-button {
  width: 400px;
  height: 28px;
  background: #ff8a32;
  border: #9797c7 1px solid;
  cursor: pointer;
  font-size: 15px;
  overflow-x: scroll;
  white-space: nowrap;
}
div.main > div.menu .eiList .eiList-button::-webkit-scrollbar {
  display: none;
}
div.main > div.menu .eiListHider {
  position: absolute;
  top: 28px;
  left: 0;
  height: calc(100vh - 197px);
  width: calc(100vw - 74px);
  background-color: #0009;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
}
div.main > div.menu .eiwind {
  color: #ffff;
  height: calc(100vh - 177px);
  width: calc(100vw - 456px);
  background-color: #000b;
  border: #000 2px solid;
  overflow: scroll;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: medium;
  padding: 8px;
}
div.main > div.menu .eiwind::-webkit-scrollbar {
  display: none;
}
div.main > div.menu .eiwind.SI {
  background-color: #aa00feb8;
}
div.main > div.menu .eiTitle {
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #ffff;
  height: 24px;
  width: calc(100vw - 36px);
  background-color: #3131bd;
  border: #000 2px solid;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  font-size: medium;
}
div.main > div.menu .eiTitle::-webkit-scrollbar {
  display: none;
}

div.main > div.menu .tsunamiList {
  font-family: sans-serif;
  color: #ffff;
  height: calc(100vh - 133px);
  width: calc(100vw - 36px);
  background-color: #000b;
  border: #000 2px solid;
  overflow: scroll;
}
div.box-eewhist {
  flex-direction: row;
}
div.box-eewhist div.eew-items {
  height: calc(100vh - 131px);
  width: 276px;
  border: #000 1px solid;
  overflow-y: hidden;
}
div.box-eewhist div.eew-detail {
  height: calc(100vh - 147px);
  width: calc(100vw - 326px);
  border: #000 1px solid;
  overflow-y: scroll;
  padding: 8px;
  font-family: monospace;
  font-size: 15px;
}
div.box-eewhist div.eew-event-title {
  user-select: none;
  width: 260px;
  padding: 3px 8px;
  color: #fff;
  background-color: #555;
  text-align: left;
  cursor: default;
}
div.box-eewhist div.eew-event-container {
  height: calc(100vh - 131px);
  width: 276px;
  overflow-y: scroll;
}
div.box-eewhist div.eew-event-button {
  width: 260px;
  padding: 3px 8px;
  color: #444;
  text-align: left;
  cursor: pointer;
}
div.box-eewhist div.eew-event-button:nth-child(even) {
  background-color: #fff;
}
div.box-eewhist div.eew-event-button:nth-child(odd) {
  background-color: #ddd;
}
div.box-eewhist div.eew-event-button:hover {
  background-color: #acd5e7;
}
div.box-eewhist div.eew-event-button.selected {
  background-color: #e9f83b;
}

div.main > div.menu .dataList {
  font-family: sans-serif;
  color: #ffff;
  height: calc(100vh - 133px);
  width: calc(100vw - 36px);
  background-color: #4f7b1f;
  border: #000 2px solid;
  overflow: scroll;
}
.dataList a:link,
.dataList a:visited,
.dataList a:active {
  color: #11ffc2;
}
.dataList a:hover {
  color: #ff0;
}

@media (prefers-color-scheme: dark){
  body {
    background-color: #444;
    color: white;
  }
  div.title {
    border-bottom-color: #5bdbb7;
  }
  div.box button {
    margin: 0 2px;
    font-size: 16px;
    background-color: #555;
    color: white;
  }
  div.box button:hover {
    background-color: #4c627a;
  }
  div.box button:active {
    background-color: #107bc3;
  }
  div.main > div.menu .eiwind {
    background-color: #777b;
  }
  div.main > div.menu .tsunamiList {
    background-color: #333b;
  }
}
